{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main-overlay"></div>
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-txt my-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead class="text-dark">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            {% for item in bag_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <p class="my-1"><strong>{{ item.product.name }}</strong></p>
                                    {% if item.product.image %}
                                    <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    {% else %}
                                    <img class="img-fluid rounded" src="{{ MEDIA_URL }}artwitch-noimg.jpg" alt="{{ item.product.name }}">
                                    {% endif %}
                                </td>
                                <td></td>
                                <td class="py-4">
                                {% if item.product.has_sizes %}
                                    <p class="my-0">{{ item.size|upper }}</p>
                                {% else %}
                                <p class="my-0">N/A</p>
                                {% endif %}
                                </td>
                                <td class="py-4">
                                    <p class="my-0">{{ item.quantity }}</p>
                                </td>
                                <td class="py-4">
                                    <p class="my-0">€{{ item.product.price }}</p>
                                </td>
                                <td class="py-4">
                                    <p class="my-0"><strong>€{{ total }}</strong></p>
                                </td>
                                <td class="py-4">
                                    <a href="{% url 'remove_from_bag' item.product.id %}" class="my-0 text-reset text-decoration-none"><i class="bi bi-x-square-fill mx-1"></i>Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <a href="{% url 'products' %}" class="btn btn-sm btn-outline-success me-2">
                                        <span>
                                            <i class="bi bi-cart-fill"></i>
                                        </span>
                                        <span >Continue shopping!</span>
                                    </a>
                                </td>
                                <td >
                                    <a href="{% url 'checkout' %}" class="btn btn-lg btn-outline-dark">
                                        <span>Secure checkout</span>
                                        <span>
                                            <i class="bi bi-lock-fill"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                <p class="lead mb-5">Your bag is empty!</p>
                <a href="{% url 'products' %}" class="btn btn-lg btn-outline-dark">
                    <span>
                        <i class="bi bi-cart-fill"></i>
                    </span>
                    <span >Continue shopping!</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>            
{% endblock %}
